services:
  app:
    image: ${DOCKER_USERNAME}/trackme-app:latest
    container_name: trackme-service-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      redis:
        condition: service_started
      postgres:
        condition: service_started
      clickhouse:
        condition: service_healthy
    env_file:
      - .env
    environment:
      - REDIS_URL=redis://:${REDIS_PASSWORD}@redis:6379/0
    networks:
      - trackme-network


#  mongo:
#    image: mongo:latest
#    container_name: trackme-mongo
#    ports:
#      - "27018:27017"
#    environment:
#      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USERNAME}
#      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD}
#      - MONGO_INITDB_DATABASE=${MONGO_DATABASE}
#    volumes:
#      - mongo_data:/data/db
#    networks:
#      - trackme-network

  redis:
    image: redis:latest
    container_name: trackme-redis
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - trackme-network

  postgres:
    image: postgres:15-alpine
    container_name: trackme-postgres
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - trackme-network

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: trackme-clickhouse
    ports:
      - "8123:8123"
      - "9000:9000"
    environment:
      - CLICKHOUSE_DB=${CLICKHOUSE_DB}
      - CLICKHOUSE_USER=${CLICKHOUSE_USERNAME}
      - CLICKHOUSE_PASSWORD=${CLICKHOUSE_PASSWORD}
      - CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
    volumes:
      - clickhouse_data:/var/lib/clickhouse
    networks:
      - trackme-network
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    healthcheck:
      test: ["CMD", "clickhouse-client", "--query", "SELECT 1"]
      interval: 5s
      timeout: 3s
      retries: 10

  prometheus:
    image: prom/prometheus:latest
    container_name: trackme-prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    ports:
      - "9090:9090"
    networks:
      - trackme-network

networks:
  trackme-network:
    driver: bridge

volumes:
#  mongo_data:
  redis_data:
  prometheus_data:
  postgres_data:
  clickhouse_data:
