apiVersion: apps/v1
kind: Deployment
metadata:
  name: trackme-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: trackme-app
  template:
    metadata:
      labels:
        app: trackme-app
    spec:
      containers:
        - name: trackme-app
          image: fifsak/trackme-app:latest
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: "100m" # Минимум для планирования (0.1 ядра)
              memory: "128Mi"
            limits:
              cpu: "500m" # Максимум для пода
              memory: "256Mi"