# --- POSTGRES ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
spec:
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:15-alpine
          envFrom:
            - secretRef:
                name: trackme-env
          env:
            - name: POSTGRES_MAX_CONNECTIONS
              value: "500"
            - name: POSTGRES_SHARED_BUFFERS
              value: "256MB"
            - name: POSTGRES_EFFECTIVE_CACHE_SIZE
              value: "1GB"
            - name: POSTGRES_WORK_MEM
              value: "4MB"
          ports:
            - containerPort: 5432
          resources:
            requests:
                cpu: "500m"
                memory: "512Mi"
            limits:
              memory: "2000m"
              cpu: "4Gi"
          command:
            - "postgres"
            - "-c"
            - "max_connections=500"
            - "-c"
            - "shared_buffers=256MB"
            - "-c"
            - "effective_cache_size=1GB"
            - "-c"
            - "work_mem=4MB"
            - "-c"
            - "random_page_cost=1.1"
            - "-c"
            - "checkpoint_completion_target=0.9"
            - "-c"
            - "wal_buffers=16MB"
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
spec:
  selector:
    app: postgres
  ports:
    - port: 5432
---
# --- REDIS ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
spec:
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: redis:latest
          command: ["redis-server", "--requirepass", "redispassword"]
          ports:
            - containerPort: 6379
---
apiVersion: v1
kind: Service
metadata:
  name: redis
spec:
  selector:
    app: redis
  ports:
    - port: 6379
---
# --- CLICKHOUSE ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: clickhouse
spec:
  selector:
    matchLabels:
      app: clickhouse
  template:
    metadata:
      labels:
        app: clickhouse
    spec:
      containers:
        - name: clickhouse
          image: clickhouse/clickhouse-server:latest
          envFrom:
            - secretRef:
                name: trackme-env
          ports:
            - containerPort: 8123
            - containerPort: 9000
          resources:
            requests:
              memory: "1000m"
              cpu: "2Gi"
            limits:
              memory: "2000m"
              cpu: "4Gi"
---
apiVersion: v1
kind: Service
metadata:
  name: clickhouse
spec:
  selector:
    app: clickhouse
  ports:
    - name: http
      port: 8123
    - name: native
      port: 9000
---

# --- PROMETHEUS ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
spec:
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
        - name: prometheus
          image: prom/prometheus:latest
          args:
            - "--config.file=/etc/prometheus/prometheus.yml"
            - "--storage.tsdb.path=/prometheus"
          ports:
            - containerPort: 9090
          volumeMounts:
            - name: config-volume
              mountPath: /etc/prometheus/
      volumes:
        - name: config-volume
          configMap:
            name: prometheus-config
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus
spec:
  type: LoadBalancer
  selector:
    app: prometheus
  ports:
    - port: 9090
      targetPort: 9090
---
# --- GRAFANA ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
spec:
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
        - name: grafana
          image: grafana/grafana:latest
          volumeMounts:
            - name: ds-vol
              mountPath: /etc/grafana/provisioning/datasources/
            - name: db-vol
              mountPath: /etc/grafana/provisioning/dashboards/
            - name: json-vol
              mountPath: /etc/grafana/provisioning/dashboards/json/
      volumes:
        - name: ds-vol
          configMap:
            name: grafana-datasources
        - name: db-vol
          configMap:
            name: grafana-dashboards
        - name: json-vol
          configMap:
            name: grafana-dashboard-json
---
apiVersion: v1
kind: Service
metadata:
  name: grafana
spec:
  type: LoadBalancer
  selector:
    app: grafana
  ports:
    - port: 3000
      targetPort: 3000

